body {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
}

.nav-pills .nav-link {
    border-radius: .35rem;
    text-transform: uppercase;
    line-height: 1;
    background-color: #76c893;
    font-weight: 600;
    color: #03071e;
    margin: .5rem;
}

.go-top-link, .go-top-link:hover {
    color: #e9ecef;
    text-decoration: none;
}

.conjugation-table {
    font-size: 0.7rem;
    max-width: 300px;
}

.rule-list {
    list-style-type: square;
}
.example-list {
    list-style-type: circle;
}
.example-list li {
    font-style: italic;
}
.rule-comparison {
    background-color: #e9ecef;
}
.english {
    color: #e35d6a;
    font-style: italic;
    font-weight: bold;
}
.spanish-english-mismatch {
    color: #e35d6a;
}

.indicative {
    color: #d63384;
    font-style: italic;
    font-weight: bold;
}
.subjunctive-indicative-difference {
    color: #de5c9d;
}

.bd-purple-100 {
    background-color: #e2d9f3;
}
.bd-blue-100 {
    background-color: #cfe2ff;
}
.bd-cyan-100 {
    background-color: #cff4fc;
}
.color-indigo {
    color: #6610f2;
}
.color-purple {
    color: #6f42c1;
}
.color-red-400 {
    color: #e35d6a;
}
.color-teal {
    color: #20c997;
}
.bd-teal-100 {
    background-color: #d2f4ea;
}
.bd-teal-200 {
    background-color: #a6e9d5;
}
.bd-teal-300 {
    background-color: #79dfc1;
}
.color-orange {
    color: #fd7e14;
}
.bd-orange-100 {
    background-color: #ffe5d0;
}
.bd-yellow-100 {
    background-color: #fff3cd;
}

.table-subjunctive thead tr:nth-child(1) th {
    background-color: #fff3cd;
    position: sticky;
    top: 0;
    z-index: 10;
}
